.alert {
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.banner {
    padding: 1rem 2rem;
    margin: 0 1rem 1rem 1rem;
    border-radius: 0 0 8px 8px ;

}

.float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { 
        opacity: 1;
        visibility: visible; 
    }
    to { 
        opacity: 0; 
        visibility: hidden;
    }
}

.show {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.5s ease-in;
}

.hide {
    visibility: hidden;
    opacity: 0;
    animation: fadeOut 0.5s ease-out;
}

.actions {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem
}

.banner .actions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 1rem;
}
.banner .actions .dismissible {
    justify-content: space-between;
}

.actions button {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0.3rem 0.75rem; 
}

.success {
    background-color: #a8f6a1;
    color: #194d15;
}
.success .alertTitle {
    color: #2e6129;
}
.success .alertMessage {
    color: #194d15;
}

.actions button.success {
    border-color: #2e6129;
    color: #2e6129;
}

.failure {
    background-color: #f1a19f;
    color: #541210;
}
.failure .alertTitle {
    color: #6d2827;
}
.failure .alertMessage {
    color: #541210;
}
.actions button.failure {
    border-color: #6d2827;
    color: #6d2827;
}

.info {
    background-color: #8AE6F3;
    color: #11464e;
}

.info .alertTitle {
    color: #1e5e67;
}
.info .alertMessage {
    color: #11464e;
}
.actions button.info {
    border-color: #1e5e67;
    color: #1e5e67;
}


.alertTitle {
    font-size: 1.25rem;
}

.alertMessage {
    font-size: 0.85rem;
}

.dismiss {
    cursor: pointer;
    transform: rotate(45deg) scale(2) translateY(-2px);
}
